<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restaurantapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuCadastroADMIN"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MenuAdicionarPratoADMIN"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuPedidosAndamento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuRelatorioADMIN"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PratoCheckout"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PratoDescricao"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PratoDaSemana"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PratoDoDia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuPrincipalADMIN"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuCadastro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuSenha"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuPrincipal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>