<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restaurantapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuPermissaoADMIN"></activity>
        <activity android:name=".MenuAtCadastro" />
        <activity android:name=".GeradorRelatorioCompletoUsuario" />
        <activity android:name=".GeradorRelatorioCompletoPratos" />
        <activity
            android:name=".GeradorRelatorioPratos"
            android:label="@string/title_activity_gerador_relatorio_pratos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GeradorRelatorioUsuario"
            android:label="@string/title_activity_gerador_relatorio_usuario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EditarEditorPratosADMIN" />
        <activity android:name=".EditarRemoverPratosADMIN" />
        <activity android:name=".EditarModificarPratosADMIN" />
        <activity android:name=".MenuEditarPratosADMIN" />
        <activity
            android:name=".PedidoDescricao"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PedidoEspera"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuCadastroADMIN"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuAdicionarPratoADMIN"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuPedidosAndamento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuRelatorioADMIN"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PratoCheckout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PratoDescricao"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PratoDaSemana"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PratoDoDia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuPrincipalADMIN"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuCadastro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuSenha"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuPrincipal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />
        <meta-data android:name="com.parse.push.gcm_sender_id"
            android:value="id:211398102774" />
        <service
            android:name="com.parse.fcm.ParseFirebaseInstanceIdService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.parse.fcm.ParseFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name="com.parse.ParsePushBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="com.parse.push.intent.DELETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>